# build artifacts
/target/
/site/
/openapi/openapi.html

# caches
/tags
/.pixi
/.task
/.cache
__pycache__
*.pyc

# dev tools
*.sw[nop]
.dir-config.el
.justfile
.agent-shell
.opencode

# personal
TODO.org
